AddDefaultCharset UTF-8
AddCharset UTF-8 .html
AddCharset UTF-8 .xml

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^jillesvangurp\.com$ [NC]
RewriteRule ^(.*)$ https://www.jillesvangurp.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^blog\.jillesvangurp\.com$ [NC]
RewriteRule ^(.*)$ https://www.jillesvangurp.com/ [R=301,L]

RewriteCond %{HTTP_HOST} ^publications\.jillesvangurp\.com$ [NC]
RewriteRule ^(.*)$ https://www.jillesvangurp.com/work/publications [R=301,L]

RewriteRule ^.+/([0-9]+)/([0-9]+)/([0-9]+)/([^/]+?)/?$ https://www.jillesvangurp.com/blog/$1-$2-$3-$4.html [R,L]

<IfModule mod_headers.c>
  Header always set Permissions-Policy: interest-cohort=()
</IfModule>