footer {
  text-align: center;
}

section > p {
  text-align: justify;
}

blockquote,
li,
ol,
pre,
ul {
  text-align: left
}

ul {
  list-style: square;
}

html {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #222;
  font-weight: 300;
  min-height: 100%;
}

body {
  line-height: 1.25;
  background-color: #E5E4E2;
  min-height: 100%;
  margin: 0px;
}

#outer {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

header {
  margin: 1rem auto 1rem;
  font-size: 0.8rem;
  text-align: center;
}

footer {
  margin: 1rem auto 1rem;
}

nav {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: fafafa;
  font-weight: 300;
  font-size: 0.8rem;
}
nav > .published {
  display: block;
  float: right;
}

nav > ul {
  display: inline;
  margin: 0rem 0rem 0rem;
  padding: 0px;
}

nav > ul > li {
  display: inline;
}

nav > ul > li::before {
  content: "| ";
}

nav > ul::after {
  content: "| ";
}

header,footer {
  text-align: center;
}

section {
  margin: 6rem auto 1rem;
}

#sidebar {
  font-size: 0.8rem;
  padding: 5px;
}

#selfie {
  display: block;
  margin-left: auto;
  margin-bottom: auto;
}



@media screen and (min-width:1000px) {
  html {
    font-size: 18px;
    margin: 0px;
  }

  section {
    margin: 1.5rem auto 1rem;
    max-width: 1200px;
    flex-grow: 1;    
  }

  #outer {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
  }
  
  #inner {
    display: flex;
    flex-direction: row-reverse;    
    align-items: stretch;
  }

  #center-column {
    width: max-content;
    margin-right: 20px;
  }

  #sidebar {
    width: 300px;
    background-color: #fafafa;
    margin-right: 20px;
  }

  #selfie {
    float:right;
    margin:1em;
    border: 1px solid gray;
    border-radius: 10% 10%;
    box-shadow: 3px 3px lightgray;
  }
}
h1,
h2,
h3,
h4 {
  margin: 1rem 0 .5rem;
  font-weight: 800;
  line-height: 1.42
}

header > h1 {
  font-weight: bolder;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

small {
  font-size: .707em
}

canvas,
iframe,
img,
select,
svg,
textarea,
video {
  max-width: 100%
}

img {
  margin: 0 auto;
}

a,
a:visited {
  color: #3498db
}

a:active,
a:focus,
a:hover {
  color: #2980b9;
  text-shadow: 1px 1px #CCC;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  white-space: pre-wrap;
  line-height: 1;
  font-size: 0.8rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em
}


/* https://pandoc.org/demos.html */
code span.al { color: #ff0000; } /* Alert */
code span.an { color: #008000; } /* Annotation */
code span.at { } /* Attribute */
code span.bu { } /* BuiltIn */
code span.cf { color: #0000ff; } /* ControlFlow */
code span.ch { color: #008080; } /* Char */
code span.cn { } /* Constant */
code span.co { color: #008000; } /* Comment */
code span.cv { color: #008000; } /* CommentVar */
code span.do { color: #008000; } /* Documentation */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.im { } /* Import */
code span.in { color: #008000; } /* Information */
code span.kw { color: #0000ff; } /* Keyword */
code span.op { } /* Operator */
code span.ot { color: #ff4000; } /* Other */
code span.pp { color: #ff4000; } /* Preprocessor */
code span.sc { color: #008080; } /* SpecialChar */
code span.ss { color: #008080; } /* SpecialString */
code span.st { color: #008080; } /* String */
code span.va { } /* Variable */
code span.vs { color: #008080; } /* VerbatimString */
code span.wa { color: #008000; font-weight: bold; } /* Warning */

@media print {
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid
  }

  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

  a,
  a:visited {
    text-decoration: underline
  }

  a[href]:after {
    content: " ("attr(href) ")"
  }

  abbr[title]:after {
    content: " ("attr(title) ")"
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""
  }

  blockquote,
  pre {
    border: 1px solid #999
  }

  thead {
    display: table-header-group
  }

  img {
    max-width: 100% !important
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3
  }

  h2,
  h3 {
    page-break-after: avoid
  }
}
/* end print */