@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold mb-6;
  }

  h2 {
    @apply text-xl mt-2 mb-4;
  }

  h3 {
    @apply text-lg mt-2 mb-2;
  }

  p {
    @apply mb-2;
  }

  a {
    @apply text-slate-600 hover:text-slate-400 underline cursor-pointer;
  }

  li {
    @apply ml-5 list-disc;
  }

  ul {
    @apply my-2;
  }

  pre {
    @apply overflow-auto;
  }

  body {
    background: #3E92CC;
    animation: color 30s infinite linear;
  }
}

/* Responsive overrides via media queries */
@layer base {
  @media (min-width: 1024px) {
    pre {
      @apply w-[430px];
    }
  }

  @media (min-width: 1280px) {
    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    pre {
      @apply w-[800px];
    }
  }
}

@layer utilities {
  @keyframes color {
    0% {
      background: #3E92CC;
    }
    20% {
      background: #2A628F;
    }
    40% {
      background: #13293D;
    }
    60% {
      background: #16324F;
    }
    80% {
      background: #13293D;
    }
    90% {
      background: #2A628F;
    }
  }
}
