@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  h1 {
    @apply text-2xl xl:text-5xl font-bold mb-6;
  }

  h2 {
    @apply text-xl xl:text-3xl mt-2 mb-4;
  }

  h3 {
    @apply text-lg mt-2 mb-2;
  }

  p {
    @apply mb-2;
  }

  a {
    @apply text-slate-600 hover:text-slate-400 underline cursor-pointer;
  }

  li {
    @apply ml-5 list-disc
  }

  ul {
    @apply my-2
  }

  pre {
    @apply overflow-auto lg:w-430 xl:w-800
  }
}

@keyframes color {
  0% {
    background: #3E92CC
  }

  20% {
    background: #2A628F;
  }

  40% {
    background: #13293D;
  }

  60% {
    background: #16324F;
  }

  80% {
    background: #13293D;
  }

  90% {
    background: #2A628F;
  }
}

body {
  background: #3E92CC;
  /* Fallback */
  animation: color 30s infinite linear;
}